services:
  postoffice:
    build:
      context: .
      dockerfile: services/postoffice/dockerfile
    depends_on:
      - securitymanager
    environment:
      NODE_ENV: production
      PORT: &postofficePort 5020
      POSTOFFICE_URL: &postofficeUrl postoffice:5020
      SECURITYMANAGER_URL: &securitymanagerUrl securitymanager:5010
      MISSIONCONTROL_URL: &missioncontrolUrl missioncontrol:5030
      POSTOFFICE_SECRET: &sharedSecret stage7AuthSecret
      CLIENT_SECRET: *sharedSecret
    volumes:
      - ./shared/keys:/usr/src/app/shared/keys
    ports:
      - "5020:5020"
    restart: unless-stopped

  missioncontrol:
    build:
      context: .
      dockerfile: services/missioncontrol/dockerfile
    depends_on:
      - postoffice
      - librarian
      - securitymanager
      - brain
      - agentset
    environment:
      NODE_ENV: production
      PORT: &missioncontrolPort 5030
      MISSIONCONTROL_URL: *missioncontrolUrl
      SECURITYMANAGER_URL: *securitymanagerUrl
      POSTOFFICE_URL: *postofficeUrl
      LIBRARIAN_URL: &librarianUrl librarian:5040
      BRAIN_URL: &brainUrl brain:5070
      MISSIONCONTROL_SECRET: *sharedSecret
      CLIENT_SECRET: *sharedSecret
    ports:
      - "5030:5030"
    volumes:
      - ./shared/keys:/usr/src/app/shared/keys

  brain:
    build:
      context: .
      dockerfile: services/brain/dockerfile
    depends_on:
      - postoffice
      - librarian
      - securitymanager
    env_file:
      - services/brain/.env
    environment:
      NODE_ENV: production
      PORT: &brainPort 5070
      BRAIN_URL: *brainUrl
      SECURITYMANAGER_URL: *securitymanagerUrl
      POSTOFFICE_URL: *postofficeUrl
      BRAIN_SECRET: *sharedSecret
      CLIENT_SECRET: *sharedSecret
    volumes:
      - ./shared/keys:/usr/src/app/shared/keys
      - ./services/brain/.env:/usr/src/app/services/brain/.env
    ports:
      - "5070:5070"

  agentset:
    build:
      context: .
      dockerfile: services/agentset/dockerfile
    depends_on:
      - postoffice
      - librarian
      - securitymanager
    environment:
      NODE_ENV: production
      PORT: 5100
      NODE_OPTIONS: --max-old-space-size=4096
      SECURITYMANAGER_URL: *securitymanagerUrl
      POSTOFFICE_URL: *postofficeUrl
      LIBRARIAN_URL: *librarianUrl
      MISSIONCONTROL_URL: *missioncontrolUrl
      BRAIN_URL: *brainUrl
      AGENTSET_SECRET: *sharedSecret
      CLIENT_SECRET: *sharedSecret
    volumes:
      - ./shared/keys:/usr/src/app/shared/keys
    ports:
      - "5100:5100"

  librarian:
    build:
      context: .
      dockerfile: services/librarian/dockerfile
    depends_on:
      - postoffice
      - securitymanager
    environment:
      MONGO_URI: mongodb://mongo:27017
      MONGO_DB: librarianDB
      NODE_ENV: production
      PORT: &librarianPort 5040
      LIBRARIAN_URL: *librarianUrl
      SECURITYMANAGER_URL: *securitymanagerUrl
      POSTOFFICE_URL: *postofficeUrl
      LIBRARIAN_SECRET: *sharedSecret
      CLIENT_SECRET: *sharedSecret
    volumes:
      - ./shared/keys:/usr/src/app/shared/keys
    ports:
      - "5040:5040"
    restart: unless-stopped

  securitymanager:
    build:
      context: .
      dockerfile: services/security/Dockerfile
    environment:
      NODE_ENV: production
      PORT:  &securitymanagerPort 5010
      SECURITYMANAGER_URL: *securitymanagerUrl
      POSTOFFICE_URL: *postofficeUrl
      KEYS_DIR: /usr/src/app/services/security/keys
      ADMIN_SECRET: adminSecret
      LIBRARIAN_URL: *librarianUrl
      SECURITYMANAGER_SECRET: *sharedSecret
      POSTOFFICE_SECRET: *sharedSecret
      MISSIONCONTROL_SECRET: *sharedSecret
      BRAIN_SECRET: *sharedSecret
      AGENTSET_SECRET: *sharedSecret
      LIBRARIAN_SECRET: *sharedSecret
      CLIENT_SECRET: *sharedSecret
      JWT_ALGORITHM: RS256
      JWT_EXPIRATION: 3600 # 1 hour in seconds
      AUTH_ENABLED: "true"
      ACCEPT_ANY_SERVICE: "false"
      ACCEPT_ANY_SECRET: "false"
      SHARED_SECRET: *sharedSecret
    volumes:
      - ./services/security/keys:/usr/src/app/services/security/keys
      - ./shared/keys:/usr/src/app/shared/keys
    ports:
      - "5010:5010"

  frontend:
    build:
      context: .
      dockerfile: services/mcsreact/dockerfile
    ports:
      - "80:80"
    depends_on:
      - postoffice
    environment:
      - ENV REACT_APP_API_BASE_URL=http://postoffice:5020
      - ENV REACT_APP_WS_URL=ws://localhost:5020
      
networks:
  default:
    name: mcs_network
